body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbd7bc;
    color: #333;
    overflow-x: hidden;
}

.darkmode{
    background-color: #333333;
    color: #F5F5F5;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #efc695; 
    color: white;
    padding: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.top-bar button {
    flex: 1;
    background-color: #ffa676;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 28px;
    font-family: "Cambria", Times, serif;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, border-right 0.3s ease;
}

.top-bar1 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #efc695; 
    color: #E8E8E8;
    padding: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.top-bar1 button {
    flex: 1;
    background-color: #212121;
    color: #E8E8E8;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 28px;
    font-family: "Cambria", Times, serif;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, border-right 0.3s ease;
    border-right: 1px solid #555; 
}

.top-bar1 button:hover {
    background-color: #333333; 
}

.top-bar button:hover {
    background-color: #e59462; 
}

.top-bar button:not(:last-child){
    border-right: 1px solid #fff; 
}

.top-bar1 button:not(:last-child) {
    border-right: 1px solid #80DEEA; 
}

.top-bar button i {
    margin-left: 8px;
    font-size: 25px;
}

.top-bar button:hover {
    background-color: #e59462;
}

.top-bar button:not(:last-child) {
    border-right: 1px solid #fff;
}

.top-bar button:focus {
    outline: none;
}

.language-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px; 
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin-top: 80px;
    height: 33px;
}

.language-boxe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px; 
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin-top: 80px;
    height: 33px;
}

.language-text {
    font-size: 20px;
    flex: 1; 
}

.language-select {
    width: 120px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.language-select:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.language-select:hover {
    background-color: #eaeaea;
}

.language-select option {
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.language-select option:hover {
    background-color: #eaeaea;
}



.toggle-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px; 
    height: 33px;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin-top: 20px;
}

.toggle-text {
    font-size: 20px;
    flex: 1;
}

.toggle-select {
    width: 120px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.toggle-select:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-select:hover {
    background-color: #eaeaea;
}


.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.toggle-switch input:checked + .slider {
    background-color: #7a4529;
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(26px);
}
